body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h2 {
    text-align: center;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

.form-table {
    background: white;
    width: 450px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.form-table td {
    padding: 10px;
}

input, select {
    width: 95%;
    padding: 6px;
}

button {
    padding: 8px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.data-table {
    width: 90%;
    background: white;
}

.data-table th, .data-table td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}

.data-table th {
    background-color: #ddd;
}

.delete-btn {
    background-color: red;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
